        html,
        body {
            margin: 0;
            display: flex;
        }
        
        .container-fluid {
            width: 100vw;
            height: 100vh;
        }
        
        .col-md-1 {
            background-color: rgba(58, 52, 47, 0.931);
            height: 100vh;
            color: white;
        }
        
        .col-md-3 {
            background-color: rgb(238, 232, 228);
            height: 100vh;
        }
        
        .col-md-8 {
            background-color: rgb(243, 240, 237);
            height: 100vh;
        }
        /* --- */
        
        #inbox-grid i {
            font-size: 18px;
        }
        
        .card {
            color: black;
            font-size: 11px;
            background-color: rgb(238, 232, 228);
            margin-bottom: 3em;
            border-style: none;
        }
        
        .card:hover {
            color: rgb(0, 0, 0);
            -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.5);
            background-color: white;
        }
        
        #basic-addon1 {
            border-radius: .3em;
            background-color: white;
            border-style: none;
        }
        
        #inbox-text {
            list-style-type: none;
            margin-top: 3em;
        }
        
        .comp-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .comp-button button {
            color: white !important;
            font-weight: bold !important;
        }
        
        .brock {
            padding-bottom: 2em;
        }
        
        .ibox-items {
            margin-bottom: 2em;
        }
        
        .date-time {
            float: right;
        }
        
        .email-sent-by {
            opacity: 0.5;
        }
        
        .date-time {
            opacity: 0.5;
        }
        
        .to-from {
            font-size: 12px;
            padding-top: 20px;
            margin-bottom: -20px;
            font-weight: bold;
        }
        
        .daily-quotes {
            padding-top: 40px;
            padding-bottom: 1em;
        }
        
        .input {
            border-style: none;
            width: 400px;
            border-radius: .3em;
        }
        
        .email-search-grid {
            padding-block: 3em;
        }
        
        .email-text-box {
            padding-top: 10em;
        }
        
        #email-from {
            color: black;
            font-weight: bold;
        }
        
        #text-area {
            border: none;
            padding-top: 8em;
        }
        
        button {
            background: transparent;
            border: none;
            /* Makes paperclip transparent and removes border */
        }
        
        #trash-reply-btn {
            float: right !important;
            padding-right: 250px;
            padding-top: 55px;
        }
        
        .search-input {
            border-right: 0;
        }
        
        .input-group-addon {
            background: white;
            border-left: 0;
            border-right: 0;
        }
        
        .input-group-addon:last-child {
            border-left: 0;
            border-right: 1px solid #ccc;
        }
        
        .input-group button {
            opacity: 0.5;
        }
        
        .text-area {
            background: white;
            border: solid 2px rgb(218, 212, 212);
            border-radius: 2px;
            margin: 7em 3em 4em .5em;
        }
        
        textarea {
            border: none !important;
        }
        
        li a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }